*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#ignore the firebase config file
app/google-services.json

#developers secret shit
porn.xml
